.advantages{
  padding-block: 51px;
}
.advantages__title {
  margin-block: 0;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--base-primary, #7859cf);
  text-align: center;
}

.advantages__text {
  margin-block: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  padding-block: 5px;
}

.advantages-list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  padding-block-start: 29px;
}

.advantages-list__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 6px;
}

.advantages-list__item--speed::before{
  content: "";
  display: block;
  width: 50px;
  height: 56px;
  background-image: url("../../icons/speed.svg");
}

.advantages-list__item--comfort::before{
  content: "";
  display: block;
  width: 52px;
  height: 56px;
  background-image: url("../../icons/comfort.svg");
}

.advantages-list__item--cheerfulness::before{
  content: "";
  display: block;
  width: 52px;
  height: 56px;
  background-image: url("../../icons/cheerfulness.svg");
}

.advantages-list__item--ecology::before{
  content: "";
  display: block;
  width: 52px;
  height: 56px;
  background-image: url("../../icons/ecology.svg");
}

.advantages-list__item-text {
  margin-block: 0;
  text-align: center;
}

.advantages-list__item-title {
  @include advantages-title-mobile;
  margin-block: 0;
  text-align: center;
  padding-block-start: 4px;
}
