.main-nav {
  width: 320px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.main-nav__group {
  display: flex;
}

.main-nav--is-close {
  .main-nav__list {
    display: none;
  }

  .main-nav__btn::before {
    content: "";
    display: block;
    position: absolute;
    top: 24px;
    left: 22px;
    width: 16px;
    height: 2px;
    background-color: #000000;
    box-shadow: 0 5px 0 0 #000000, 0 10px 0 0 #000000;
  }
}

.main-nav__account {
  background-image: url("../../icons/account.svg");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: center;
  width: 60px;
  height: 60px;
}

.main-nav__basket {
  background-image: url("../../icons/product-basket.svg");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: center;
  width: 60px;
  height: 60px;
}
