.pagination {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;

  &__link {
    background-color: var(--base-white, #ffffff);
    display: block;
    min-width: 40px;
    padding-block: 8px;
    padding-inline: 8px;
    color: var(--base-primary, #7859cf);
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    box-sizing: border-box;
    text-align: center;
  }

  &__link--current {
    background-color: transparent;
    color: var(--base-black, #333333);
    font-weight: 600;
  }
}

.pagination__item:first-child {
  background-image: url('../../icons/arrow-slider-left.svg');
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-position: center center;
}

.pagination__item:last-child {
  background-image: url('../../icons/arrow-slider-right.svg');
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-position: center center;
}
