.swiper-slide {
  display: grid;
  grid-template-rows: repeat(5, auto);
  grid-template-columns: 280px;

  @media(min-width: $tablet-width) {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, auto);
    text-align: center;
  }
}

.swiper-slide__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.02em;
  text-align: center;
  margin: 0;
  padding: 0;
  grid-area: 3/1;

  @media(min-width: $tablet-width) {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 2;
    font-size: 56px;
    line-height: 80px;
    text-align: start;
    padding-inline: 95px;
  }
}

.swiper-slide__new {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--base-primary, #7859cf);
  text-align: center;
  margin: 0;
  padding-block: 5px;

  @media(min-width: $tablet-width) {
    grid-row-start: 1;
    grid-column-start: 3;
    text-align: start;
    padding-block-start: 40px;
    padding-inline-start: 20px;
    letter-spacing: 0.04em;
  }
}

.swiper-slide__description {
  text-align: center;
  margin: 0;
  padding-block: 10px;

  @media(min-width: $tablet-width) {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 6;
    font-size: 20px;
    line-height: 32px;
    padding-block: 16px 11px;
    padding-inline-end: 39px;
  }
}

.swiper-slide__description br {
  display: none;

  @media(min-width: $tablet-width) {
    display: inline;
  }
}

picture:has(.swiper-slide__image) {

  @media(min-width:$tablet-width) {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 6;
    margin-block-start: 70px;
    margin-inline-end: 39px;
  }
}
